name: SDK Regression
on:
  issue_comment:
    types: [created, edited] 
jobs:
  regression:
    name: regression
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request && github.event.comment.body == 'RUN_TASK' }}
    steps:
      - uses: xt0rted/pull-request-comment-branch@v2
        if: ${{ github.event.issue.pull_request }}
        id: comment-branch
      - name: Set commit status
        uses: actions/github-script@v4
        with:
          github-token: ${{ secrets.PAT }}
          script: |
            const { owner, repo } = context.repo;
            const sha = '${{ steps.comment-branch.outputs.head_sha }}'
            const state = 'pending';
            const target_url = '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}'
            const description = 'Test Job'
            
            github.repos.createCommitStatus({
              name: 'Test',
              owner,
              repo,
              sha,
              state,
              target_url
            });
      - run: sleep 5
        id: task
      - name: Set commit status
        uses: actions/github-script@v4
        with:
          github-token: ${{ secrets.PAT }}
          script: |
            const { owner, repo } = context.repo;
            const sha = '${{ steps.comment-branch.outputs.head_sha }}'
            const state = '${{ steps.task.outcome }}'; // or 'failure', 'error', 'pending'
            const target_url = '${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}'
            const description = 'Test Job'
            
            github.repos.createCommitStatus({
              name: 'Test',
              owner,
              repo,
              sha,
              state,
              description,
              target_url
            });





